#app{
  font-size:14px;
  font-family:'Roboto','SCDream';
  font-weight:400;
  word-break: keep-all;  
  overflow:hidden;
}


h1,h2,h3,h4,h5,h6,strong,dt{
  font-weight:400;
}

ul, ol, ul li, ol li, p{
  padding:0px;
  margin:0px;
  list-style: none;
}

.contents{
  padding:0 50px;
  padding-top:90px;
  padding-bottom:70px;
}

.inner{
  max-width:1200px;
  margin:0px auto;
}


.v-btn{
  padding:0px;
  margin:0px;
}

.theme--light.v-btn--active:hover::before, .theme--light.v-btn--active::before{
  opacity:0;
}
.theme--light.v-btn:hover::before{
  opacity:0;
}


/* 스크롤 애니메이션 */
.sa{
  opacity: 0;
  transition: all .6s ease;
}

.sa-up{
  transform:translate(0, 100px);
}
.sa-down{
  transform:translate(0, -100px);
}
.sa-left{
  transform:translate(-100px, 0);
}
.sa-left-bar{
  transform:translate(-100%, 0);
}
.sa-right{
  transform:translate(100px, 0);
}
.sa-rotate{
  transform:rotate(10deg);
}

.sa.sa-right.car{
  opacity: 1;
  transition: all 3s ease;
}

.sa.show{
  opacity:1;
  transform:none;
}

.v-dialog{
  box-shadow: none;
  border-radius:0;
}


@media screen and(max-width:1200px) {
  .contents{
    padding:90px 20px 90px 20px
  }

}